<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>La Pobla Stations</title>
    <link rel="stylesheet" type="text/css" th:href="@{../style.css}"/>
    <script type="text/javascript" src="/js/addInput.js"></script>
</head>
<body>

<h1><img src="/layout_set_logo.png"/> LLeida - La Pobla Stations</h1>
<h2>
    <div th:text="${username}">Username</div>
</h2>

<div align="left" class="errors" th:if="${#lists.size(myErrors)>0}">
    <ul>
        <li th:each="err : ${myErrors}"
            th:text="${err}">Input is incorrect
        </li>
    </ul>
</div>
<br/>

<form method="post" th:object="${favoriteJourney}">

    <div align="left" class="errors" th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Input is incorrect
            </li>
        </ul>
    </div>

<!--
    TODO 3 (Thymeleaf): In the following selects (origin and destination) station names should be given to the user to choose from
    HINTS
        * The name property of a station is called "nom"
        * This Thymeleaf template receives a list with all the stations called "stationList"
        * You'll need to set the "value" and "text" properties of each "option" with the station name (nom)
-->
<!--
    TODO 7 (Thymeleaf): It's not mandatory. If you do this Todo it will give you an extra-point.
    This template is given a favoriteJourney when errors are detected so that the user doesn't need to fill again all
    form fields. Here you are asked to select the origin and destination stations as stated in favoriteJourney.
    HINT
        * You'll need to add a "selected" property in each "option"
        * See the day of the week selection below as an example
-->
    <label th:class="${#lists.size(myErrors)>0}? 'error'">Origin:</label>
    <select name="journey.origin.nom">
        <option>Station name (nom)
        </option>
    </select>
    <label th:class="${#lists.size(myErrors)>0}? 'error'">Destination:</label>
    <select name="journey.destination.nom">
        <option>Station name (nom)
        </option>
    </select>
    <br/>
    <br/>
    <br/>
    Week's day and time:
    <br/>
    <div id="dateTimeList" th:each="start,iter : ${favoriteJourney.startList}">
        <div name="dateTime">
            Day: <select th:name="${'startList[' + iter.index + '].dayOfWeek'}">
            <option value="Sunday" th:selected="${start.dayOfWeek == 'Sunday'}">Sunday</option>
            <option value="Monday" th:selected="${start.dayOfWeek == 'Monday'}">Monday</option>
            <option value="Tuesday" th:selected="${start.dayOfWeek == 'Tuesday'}">Tuesday</option>
            <option value="Wednesday" th:selected="${start.dayOfWeek == 'Wednesday'}">Wednesday</option>
            <option value="Thursday" th:selected="${start.dayOfWeek == 'Thursday'}">Thursday</option>
            <option value="Friday" th:selected="${start.dayOfWeek == 'Friday'}">Friday</option>
            <option value="Saturday" th:selected="${start.dayOfWeek == 'Saturday'}">Saturday</option>
        </select>
            Time (hh:mm): <input type="text" th:name="${'startList[' + iter.index + '].timeStart'}"
                                 th:value="${start.timeStart}"
                                 th:class="${#fields.hasErrors('startList[' + iter.index + '].timeStart')}? 'error'"/>
        </div>
    </div>
    <input type="button" value="Add another day and time input" onClick="addInput('dateTimeList');"/>

    <br/><br/>
    <input type="submit" value="New Favorite Journey"/>


</form>

</body>
</html>