<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>La Pobla Stations</title>
</head>
<body>

<h1><img src="layout_set_logo.png"/> LLeida - La Pobla Stations</h1>
<h2><div th:text="${username}">Username</div> </h2>

<form>
    Origen: <select>
        <option th:each="station : ${stationList}" th:value="${station.nom}" th:text="${station.nom}">Nom estacio</option>
        <!--<option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
-->    </select>

</form>

<ul>
    <li th:each="station : ${stationList}"
        th:id="'station_' + ${station.nom}">
        <div th:text="${station.nom}">Nom</div>
        <div th:text="${station.longitud}">Longitud</div>
        <div th:text="${station.latitud}">Latitud</div>
    </li>
</ul>


</body>
</html>