<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>La Pobla Stations</title>

    <script type="text/javascript" src="/js/addInput.js"></script>
</head>
<body>

<h1><img src="/layout_set_logo.png"/> LLeida - La Pobla Stations</h1>
<h2><div th:text="${username}">Username</div> </h2>

<form method="post">
    Origin: <select name="journey.origin.nom">
                <option th:each="station : ${stationList}" th:value="${station.nom}" th:text="${station.nom}">Station name</option>
            </select>
    Destination: <select name="journey.destination.nom">
                    <option th:each="station : ${stationList}" th:value="${station.nom}" th:text="${station.nom}">Station name</option>
                </select>
    <br/>
    <br/>
    <br/>
    Week's day and time:
    <br/>
    <div id="dateTime">
        Day: <select name="startList[0].dayOfWeek">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select>
        Time (hh:mm): <input type="text" name="startList[0].begin" />
    </div>
    <input type="button" value="Add another text input" onClick="addInput('dateTime');" />

    <br/><br/>
    <input type="submit" value="New Favorite Journey" />


</form>

</body>
</html>